<div class="container">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
    >
      <img src="assets/img/angular.png" class="bi me-2" width="44" alt="" />
      <span class="fs-4">Angular Assessment</span>
    </a>
    <app-form-search></app-form-search>
  </header>
  <div class="mb-3">
    <label>Status</label>
    <app-form-filter></app-form-filter>
    <small class="text-muted">Filter by the given status</small>
  </div>
</div>
